section span {
	font-size: .9em !important;
}

.hello {
	background-color: #191917 !important;
}

.hello .backSymb {
	margin: 0;
	padding: 0;
	font-size: 300px;
	color: #303030 !important;
}

.hello h4, .hello h2 {
	color: white !important;
}

.qr p {
	font-size: 30px !important;
}

p.center {
	text-align: center;
}

p.big {
	font-size: 1.5em;
}

img.small {
	vertical-align: middle;
	padding-left: 30px;
	width: 30%;
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}
